body {
    margin: 0;
    padding: 0;
}

/* hiding side navbar */
.st-emotion-cache-1cypcdb.eczjsme11 {
    display: none;
}

/* hiding full screen option when image is hovered */
.st-emotion-cache-e370rw.e1vs0wn31 {
    display: none;
}

/* hiding a pop up next to header when hovered */
.st-emotion-cache-15zrgzn.e1nzilvr3 {
    display: none;
}

/* link text */
#has_account {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

#has_account p {
    font-size: 1.2rem;
}


/* button */
.st-emotion-cache-nbt3vv.ef3psqc13 {
    display: block;
    margin: 1rem auto;
    background-color: #bc13fe;
    border-color: #bc13fe;
}

/* button text */
.st-emotion-cache-nbt3vv.ef3psqc13 p {
    font-family: 'Comic Sans MS';
    font-size: 1.2rem;
}

/* button hover effect */
.st-emotion-cache-nbt3vv.ef3psqc13:hover {
    background-color: black;
    border-color: #bc13fe;
    color: #bc13fe;
}

/* input text names */
.st-emotion-cache-sh2krr.e1nzilvr5 p {
    font-size: 1.1rem;
}

/* images */
.st-emotion-cache-1v0mbdj.e115fcil1 {
    margin: 0 auto;
}

.st-emotion-cache-1v0mbdj.e115fcil1 img {
    height: 6.25rem;
}

#header {
    display: flex;
    justify-content: center;
}

#header h1 {
    font-family: 'Comic Sans MS';
    text-align: center;
}

#sub-header {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#sub-header h2 {
    font-family: 'Comic Sans MS';
    text-align: center;
}

.nav.justify-content-center {
    position: fixed;
    top: 0;
    z-index: 9999999999999;
}

.nav-link.active {
    margin-left: 7rem;
}

.nav.justify-content-center a {
    font-size: 1.3rem;
}

.difficulty-container {
    display: flex;
    gap: 2rem;
}

.difficulty-content {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    width: 33%;
    padding-bottom: 2rem;
}

.difficulty-content h1 {
    font-family: 'Comic Sans MS';
    text-align: center;
}

.difficulty-container p {
    display: block;
    text-align: center;
    font-family: 'Comic Sans MS';
    color: black;
}

#easy-content {
    background: #32de84;
}

#easy-content h1 {
    color: green;
}

#medium-content {
    background: orange;
}

#medium-content h1 {
    color: #FF6347;
}

#hard-content {
    background: red;
}

#hard-content h1 {
    color: darkred;
}

.element-container:has(#easy-button) {
    display: none;
}

.element-container:has(#easy-button)+div button {
    background-color: green;
    position: absolute;
    transform: translate(4.8rem, -2.6rem);
}

.element-container:has(#easy-button)+div button:hover {
    background-color: black;
    border-color: green;
    color: green;
}

.element-container:has(#medium-button) {
    display: none;
}

.element-container:has(#medium-button)+div button {
    background-color: #FF6347;
    position: absolute;
    transform: translate(20.3rem, -3.6rem);
}

.element-container:has(#medium-button)+div button:hover {
    background-color: black;
    border-color: #FF6347;
    color: #FF6347;
}

.element-container:has(#hard-button) {
    display: none;
}

.element-container:has(#hard-button)+div button {
    background-color: darkred;
    position: absolute;
    transform: translate(35.5rem, -4.6rem);
}

.element-container:has(#hard-button)+div button:hover {
    background-color: black;
    border-color: darkred;
    color: darkred;
}

.element-container:has(#question) {
    display: none;
}

.element-container:has(#question)+div p {
    font-family: 'Comic Sans MS';
    text-align: center;
    font-size: 3rem;
}

.element-container:has(#check-button) {
    display: none;
}

.element-container:has(#check-button)+div button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.element-container:has(#check-button)+div button p {
    font-size: 1.2rem;
}

#info {
    display: flex;
    justify-content: center;
}

#info h3 {
    font-family: 'Comic Sans MS';
}

.element-container:has(#info-message) {
    display: none;
}

.element-container:has(#info-message)+div p {
    font-family: 'Comic Sans MS';
    margin-left: 8rem;
    font-size: 1.2rem;
}

.element-container:has(#error-message) {
    display: none;
}

.element-container:has(#error-message)+div p {
    font-family: 'Comic Sans MS';
    margin-left: 4rem;
    font-size: 1.2rem;
}

.katex-html {
    font-size: 2rem;
}

#header_error h4 {
    text-align: center;
    padding-right: 4rem;
}

#game-over-header h1 {
    text-align: center;
    color: red;
    font-family: 'Comic Sans MS';
}

.element-container:has(#user-stats) {
    display: none;
}

.element-container:has(#user-stats)+div img {
    display: block;
    height: 20rem;
    max-width: 25rem;
    margin-right: 20rem;
    margin-top: 4rem;
}

#game-stats {
    position: absolute;
    width: 10rem;
    transform: translate(30rem, -15rem);
    text-align: center;
}


.element-container:has(#lb-header) {
    display: none;
}

.element-container:has(#lb-header)+div p {
    text-align: center;
    font-size: 3rem;
    color: #7F00FF;
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 2rem;
}

.element-container:has(#lb-box) {
    display: none;
}

.element-container:has(#lb-box)+div p {
    text-align: center;
    font-size: 1.5rem;
}

.easy-dif {
    font-size: 1.3rem;
    text-align: center;
    transform: translate(0.1rem , -2.5rem);
}

.medium-dif {
    font-size: 1.3rem;
    text-align: center;
    transform: translate(0.1rem , -2.5rem);
}

.hard-dif {
    font-size: 1.3rem;
    text-align: center;
    transform: translate(0.1rem , -2.5rem);
}

.element-container:has(#initial-text) {
    display: none;
}

.element-container:has(#initial-text) + div {
    font-size: 1.3rem;
    text-align: center;
    transform: translate(-0.1rem , 2.5rem);
}

.element-container:has(#next-btn) {
    display: none;
}

.element-container:has(#next-btn) + div button {
    color: white;
    border-color: gray;
    transform: translate(20rem , 1rem);
}

.element-container:has(#next-btn) + div button:hover {
    border-color: #7F00FF;
    color: #7F00FF;
}

.element-container:has(#next-btn) + div button:active {
    background-color: #7F00FF;
    color: white;
}

#personal-record-header h1{
    margin-top: 2rem;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    color: #7F00FF;
}

.element-container:has(#user-pr-hard) {
    display: none;
}

.element-container:has(#user-pr-hard) + div p{
    text-align: center;
    font-size: 2rem;
    color: red;
}

.element-container:has(#user-pr-easy) {
    display: none;
}

.element-container:has(#user-pr-easy) + div p{
    text-align: center;
    font-size: 2rem;
    color: #32de84;
}

.element-container:has(#user-pr-medi) {
    display: none;
}

.element-container:has(#user-pr-medi) + div p{
    text-align: center;
    font-size: 2rem;
    color: orange;
}

.element-container:has(#user-graph) {
    display: none;
}

.element-container:has(#user-graph) + div img {
    display: block;
    height: 30rem;
    margin-top: 4rem;
}

.element-container:has(#user-graph-info) {
    display: none;
}

.element-container:has(#user-graph-info) + div p{
    margin-left: 10rem;
    font-size: 1.2rem;
}

.element-container:has(#retry-btn) {
    display: none;
}

.element-container:has(#retry-btn) + div button {
    color: red;
    border-color: gray;
    transform: translate(20rem , 1rem);
}

.element-container:has(#retry-btn) + div button:hover {
    border-color: red;
    color: red;
}

.element-container:has(#retry-btn) + div button:active {
    background-color: red;
    color: white;
}