body {
    margin: 0;
    padding: 0;
}

/* hiding side navbar */
.st-emotion-cache-1cypcdb.eczjsme11 {
    display: none;
}

/* hiding full screen option when image is hovered */
.st-emotion-cache-e370rw.e1vs0wn31 {
    display: none;
}

/* hiding a pop up next to header when hovered */
.st-emotion-cache-15zrgzn.e1nzilvr3 {
    display: none;
}

/* link text */
#has_account {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

#has_account p {
    font-size: 1.2rem;
}


/* button */
.st-emotion-cache-nbt3vv.ef3psqc13 {
    display: block;
    margin: 1rem auto;
    background-color: #bc13fe;
    border-color: #bc13fe;
}

/* button text */
.st-emotion-cache-nbt3vv.ef3psqc13 p {
    font-size: 1.2rem;
}

/* button hover effect */
.st-emotion-cache-nbt3vv.ef3psqc13:hover {
    background-color: black;
    border-color: #bc13fe;
    color: #bc13fe;
}

/* input text names */
.st-emotion-cache-sh2krr.e1nzilvr5 p{
    font-size: 1.1rem;
}

/* images */
.st-emotion-cache-1v0mbdj.e115fcil1 {
    margin: 0 auto;
}

.st-emotion-cache-1v0mbdj.e115fcil1 img{
    height: 6.25rem;
}

#header {
    display: flex;
    justify-content: center;
}

#header h1{
    text-align: center;
}

#sub-header {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#sub-header h2 {
    text-align: center;
}
.nav.justify-content-center {
    position: fixed;
    top: 0;
    z-index: 9999999999999;
}

.nav-link.active {
    margin-left: 7rem;
}

.nav.justify-content-center a{
    font-size: 1.3rem;
}

.difficulty-container {
    display: flex;
    gap: 2rem;
}

.difficulty-content {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    width: 33%;
    padding-bottom: 2rem;
}

.difficulty-content h1 {
    font-family: 'Comic Sans MS';
    text-align: center;
}

.difficulty-container p {
    display: block;
    text-align: center;
    font-family: 'Comic Sans MS';
    color: black;
}

#easy-content {
    background: #32de84;
}

#easy-content h1 {
    color: green;
}

#medium-content {
    background: orange;
}

#medium-content h1 {
    color: #FF6347; 
}

#hard-content {
    background: red;
}

#hard-content h1 {
    color: darkred;
}

.element-container:has(#easy-button) {
    display: none;
}

.element-container:has(#easy-button) + div button {
    background-color: green;
    position: absolute;
    transform: translate(4.8rem, -2.6rem);
}

.element-container:has(#easy-button) + div button:hover {
    background-color: black;
    border-color: green;
    color: green;
}

.element-container:has(#medium-button) {
    display: none;
}

.element-container:has(#medium-button) + div button {
    background-color:  #FF6347;
    position: absolute;
    transform: translate(20.3rem, -3.6rem);
}

.element-container:has(#medium-button) + div button:hover {
    background-color: black;
    border-color: #FF6347;
    color: #FF6347;
}

.element-container:has(#hard-button) {
    display: none;
}

.element-container:has(#hard-button) + div button {
    background-color: darkred;
    position: absolute;
    transform: translate(35.5rem, -4.6rem);
}

.element-container:has(#hard-button) + div button:hover {
    background-color: black;
    border-color: darkred;
    color: darkred;
}